
      
          <!-- Statistics Cards -->

          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 p-4 gap-4">
            <app-card title="Clientes" totalClientes="200"></app-card>
            <app-card title="Activos" totalClientes="150"></app-card>
            <app-card title="Inactivos" totalClientes="20"></app-card>
            <app-card title="Cortesías" totalClientes="30"></app-card>
          </div>
          <!-- ./Statistics Cards -->
      
          <!-- <div class="grid grid-cols-1 lg:grid-cols-2 p-4 gap-4"> -->
            <app-listar-principales></app-listar-principales>
          <!-- </div> -->
      
          <app-listar-clientes></app-listar-clientes>

  


